{% extends "base.html" %}
{% block content %}

<h1>Opiskelijat</h1>

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Opiskelijanumero</th>
        <th>Syntymäaika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Timo Hautamäki</td>
        <td>0123456789</td>
        <td>08.08.1993</td>
      </tr>
      <tr>
        <td>Matti Meikäläinen</td>
        <td>0987654321</td>
        <td>01.01.1980</td>
      </tr>
    </tbody>
  </table>

{% endblock %}