{% extends "base.html" %}
{% block content %}

<h1>Kurssit</h1>

<p>Tältä sivulta löydät kaikki kurssit, joille voi tai ainakin on voinut tai tulee voimaan ilmoittautua.

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Kurssin nimi</th>
        <th>Luennoitsija</th>
        <th>Kurssi alkaa</th>
        <th>Laajuus</th>
        <th>Ilmoittaudu</th>
      </tr>
    </thead>
    <tbody>
    {% for kurssi in kurssit %}
      <tr>
        <td><a href="{{base_path}}/kurssiSivu/{{kurssi.id}}">{{kurssi.name}}</td>
        <td>{{kurssi.luennoitsija}}</td>
        <td>{{kurssi.alkamisajankohta}}</td>
        <td>{{kurssi.opintopisteet}} op</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  

{% endblock %}