{% extends "base.html" %}
{% block content %}

<h1>Kurssit</h1>

<br>

<p><font color="green">{{message}} </font></p>

<br>

<p>Tältä sivulta löydät kaikki kurssit, joille voi tai ainakin on voinut tai tulee voimaan ilmoittautua.

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Kurssin nimi</th>
        <th>Luennoitsija</th>
        <th>Kurssi alkaa</th>
        <th>Laajuus</th>
        if ({{user_logged_in}} != null) {
        <th>Ilmoittaudu</th>
        if ({{user_logged_in.username}}.equals("admin")) {
        <th>Muokkaa</th>
        <th>Poista</th>
        }
        }
      </tr>
    </thead>
    <tbody>
    {% for kurssi in kurssit %}
      <tr>
        <td><a href="{{base_path}}/kurssiSivu/{{kurssi.id}}">{{kurssi.name}}</td>
        <td>{{kurssi.luennoitsija}}</td>
        <td>{{kurssi.alkamisajankohta}}</td>
        <td>{{kurssi.opintopisteet}} op</td>
        if ({{user_logged_in}} != null) {
        <td><button class="btn btn-primary">Ilmoittaudu</button></td>
        if ({{user_logged_in.username}}.equals("admin")) {
        <th><button class="btn btn-default">Muokkaa</button></th>
        <th><button class="btn btn-danger">Poista</button></th>
        }
        }
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <p>{{user_logged_in.name}}</p>

  

{% endblock %}