{% extends "base.html" %}
{% block content %}
    {% for k in kurssi %}
  <h1>{{k.name}}</h1>

  <!-- Tiedot tulee listana tähän -->

  <ul>
    <li><strong>Kurssin ajankohta:</strong> </li>
    <li><strong>Luennoitsija:</strong> {{k.luennoitsija}}</li>
    <li><strong>Esitiedot:</strong> {{k.esitiedot}}</li>
    <li><strong>Ilmoittautuminen: </strong> {{k.ilmoalkaa}}-{{k.ilmoloppuu}}</li>
  </ul>

  <h3>Harjoitusryhmät</h3>

  <ul>
  <li>{{k.harjoitusryhmat}}</li>
  </ul>


  <!-- Kuvaus tulee tähän -->
  <p>
    {{k.kuvaus}} 
  </p>

<!-- Mikäli ei ilmoittauduttu -->

<p>
    <button class="btn btn-primary">Ilmoittaudu</button> 
  </p>
    <!-- Mikäli ilmoittauduttu -->
    
    <a href="#"
    class="btn btn-danger">Peru</a>
        {% endfor %}
{% endblock %}