{% extends "base.html" %}
{% block content %}
  <h1>Kurssin lisäys/muokkaus</h1>

  <form method="post" action="{{base_path}}/kurssi">
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input name="name" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Luennoitsija</label>
      <input name="luennoitsija" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Opintopisteet</label>
      <input name="opintopisteet" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Luentoajat:</label>
      <input name="luentoajat" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Esitietovaatimukset:</label>
      <input name="esitiedot" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Kuvaus:</label>
      <input name="kuvaus" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Harjoitustyhmät:</label>
      <input name="harjoitusryhmat" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label>Kurssi alkaa: ()</label>
      <input name="alkamisajankohta" class="form-control" type="date">
    </div>
    <div class="form-group">
      <label>Kurssi loppuu: ()</label>
      <input name="loppumisajankohta" class="form-control" type="date">
    </div>
    <div class="form-group">
      <label>Ilmo alkaa: ()</label>
      <input name="ilmoalkaa" class="form-control" type="date">
    </div>
    <div class="form-group">
      <label>Ilmo loppuu: ()</label>
      <input name="ilmoloppuu" class="form-control" type="date">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}