{% extends "base.html" %}
{% block content %}

<h1>Kurssit</h1>

<p>Tältä sivulta löydät kaikki kurssit, joille voi tai ainakin on voinut tai tulee voimaan ilmoittautua.

 <table class="table table-striped">
    <thead>
      <tr>
        <th>Kurssin nimi</th>
        <th>Luennoitsija</th>
        <th>Kurssi alkaa</th>
        <th>Laajuus</th>
        <th>Ilmoittaudu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tira</td>
        <td>Floren</td>
        <td>01.01.2016</td>
        <td>10 op</td>
      </tr>
      <tr>
        <td>Tietokantasovellus</td>
        <td>Vihavainen</td>
        <td>02.01.2016</td>
        <td>5 op</td>
      </tr>
    </tbody>
  </table>

{% endblock %}